# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node/Python (future safe)
node_modules/
__pycache__/